.chart{
  padding: 2%;
}
.chart-title{
  font-size: 25px;
  color: rgb(25, 25, 248);
  text-align: center;
  text-decoration: solid ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.chart-add{
  cursor: pointer;
}
.chart-cart{
  padding: 2%;
  box-shadow: 3px 3px 5px 6px #ccc;
  width: 100%;
  
}
.chart-head{
  font-size: 18px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}