.summary{
  padding: 2%;
}

.summary-title{
  font-size: 25px;
  color: rgb(25, 25, 248);
  text-align: center;
  text-decoration: solid underline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.summary-cart{
  padding: 2%;
  box-shadow: 3px 3px 5px 6px #ccc;
  width: 100%;
  
}